{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/pictonic.css" %}">
    <link rel="stylesheet" href="{% static "css/magicsuggest.css" %}">
    <!--Any specific style sheets go here-->
    {% block stylesheets %} {% endblock %}
    <link rel="stylesheet" href="{% static "css/site.css" %}">
    <link rel="icon" type="image/jpeg" href="{% static "imgs/favicon.jpg" %}">
    <title>Hindlebook</title>
</head>
    <body>
        {% block content %}
        {% endblock %}
    </body>

    <!--Load JS files last to keep the page fast-->
    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/WearProtection.js" %}"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script src="{% static "js/magicsuggest-min.js" %}"></script>
    {% block nav_scripts %} {% endblock %}
    {% block scripts %} {% endblock %}
</html>