{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.liveSearch.css" %}">
{% endblock %}

{% block content %}
    
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="{% url "stream" %}">Hindleb <i class="title-img icon-glasses"></i> k</a>
        </div> <!-- /navbar-header -->
  
        <ul class="nav navbar-nav">
          <li><a href="{% url "profile" authorUUID=user.author.uuid %}"><i class="icon-kub-avatar-01 navbar-img"></i></a></li>
          <li><a href="{% url "friends_view" authorUUID=user.author.uuid %}"><i class="icon-kub-avatar-02 navbar-img"></i></a></li>
          <li><a href="{% url "requests" %}"><span class="badge" id="notifications-badge">{{ user.author.getFriendRequestCount }}</span></a></li>
        </ul>
        
          <ul id="search-nav" class="nav navbar-nav navbar-right">
            <li><input id="search-bar" type="text" class="form-control input-sm" placeholder="Search"></input></li>
            <li><a id="search-toggle"><i class="icon-search navbar-img bold"></i></a></li>
          </ul>
        
        <!-- </div>  /collapse -->
      </div> <!-- /container-fluid -->
    </nav>
    <!-- /navbar -->

    {% block page %}
    {% endblock %}

    <!-- bottom navbar -->
    <a class="logout-tab" href="{% url "logout" %}"><span class="bot-text"><i class="icon-sign-out navbar-img"></i></span></a></li> 
{% endblock %}


{% block nav_scripts %}
    <script type="text/javascript">
        $('#search-bar').hide();
        $("#search-toggle").click(function () {
          $('#search-bar').toggle();
          $('#search-nav').toggleClass("active");
          });
    //jQuery('#jquery-live-search input[name="q"]').liveSearch({url: '/search/'});
    </script>
{% endblock %}

