{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.liveSearch.css" %}">
{% endblock %}

{% block content %}
    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url "stream" %}">Hindleb <i class="title-img icon-glasses"></i> k</a>
        </div> <!-- /navbar-header -->
  
        <div class="collapse navbar-collapse" id="navbar-collapsed">
        <ul class="nav navbar-nav">
          <li><a href="#"><i class="icon-kub-avatar-02"></i></a></li>
          <li><a><span class="badge">1</span></a></li>
        </ul>

          <!-- search -->
          <form class="navbar-form navbar-right" role="search" method="post" action="{% url "search" %}">
            <div id="jquery-live-search">
              <div class="form-group">
                <input type="text" name="q" class="form-control" placeholder="Search">
              </div> <!-- /form-group -->
              <button type="submit" class="btn btn-default"><span class="icon-search"></span></button>
            </div> <!-- jquery-live-search -->
          </form> <!-- search form -->
      </div> <!-- /container-fluid -->
    </nav>


    {% block page %}
    {% endblock %}

{% endblock %}


{% block scripts%}
    <script type="text/javascript">
        jQuery('#jquery-live-search input[name="q"]').liveSearch({url: '/search/'});
    </script>
{% endblock %}

