{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static "css/jquery.liveSearch.css" %}">
{% endblock %}

{% block content %}
    
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">

        
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url "stream" %}">Hindleb <i class="title-img icon-glasses"></i> k</a>
        </div> <!-- /navbar-header -->
  

        <ul class="nav navbar-nav">
          <li><a href="{% url "personal_profile" %}"><i class="icon-kub-avatar-02 navbar-img"></i></a></li>
          <li><a><span class="badge">{{ user.getFriendRequestCount }}</span></a></li>
          <li><a><i class="icon-search navbar-img bold"></i></a></li>
          <li><input id = "test" type="text" class="form-control input-sm hidden" placeholder="Search"></input></li>
        </ul>
 
        
        <div class="navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="#">logout&nbsp;&nbsp;<i class="icon-sign-out navbar-img"></i></a></li>
          </ul>
        </div>
        
        </div> <!-- /collapse-->
      </div> <!-- /container-fluid -->
    </nav>

    
    



    {% block page %}
    {% endblock %}

{% endblock %}


{% block scripts%}
    <script type="text/javascript">
        jQuery('#jquery-live-search input[name="q"]').liveSearch({url: '/search/'});
    </script>
{% endblock %}

