{% extends "base_login.html" %}
{% load staticfiles %}

{% block alerts %}
    <!-- Django Messages -->
   {% if messages  %}
       {% for message in messages %}
           <div class="alert alert-dismissable alert-{{ message.tags }}">
               <button type="button" class="close" data-dismiss="alert">×</button>
               {{ message | safe }}
           </div>
       {% endfor %}
   {% endif %}
   <!-- /Django Messages -->
     {{ logout_message }}
   <!-- Special Logout Message -->
   {% if logout_message  %}
            <div class="alert alert-dismissable alert-success">
               <button type="button" class="close" data-dismiss="alert">×</button>
               {{ logout_message }}
           </div>
    {% endif %}
{% endblock alerts %}

{% block header %}Hindleb <i class="title-img icon-glasses"></i> k{% endblock %}

{% block form %}

 
    <form action="/login/" method="post" >

        
        {% csrf_token %}
        <fieldset>
            {{ form.as_bootstrap_form }}
        </fieldset>
        
        <!-- Submit Button -->
        <div class="form-buttons col-lg-12">
          <button type="submit" class="btn btn-ex-lg btn-success" value="submit">
            <i class="icon-rocket2"></i> login
          </button>
       </div>
        
        <div class="clearfix"></div>
        <!-- /Submit Button -->
        
        <input type="hidden" name="next" value="{{ next }}" />
    
    </form>
    
{% endblock %}
        
{% block trailing %}
    <div class="trailing">
        <a href="/forgot/password">forgot password?</a> / <a href="{% url 'register' %}" class="help-link">register</a>
    </div>
{% endblock %}
