{% extends "base_header.html" %}
{% load staticfiles %}

{% block page %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container">
    <div class="profile row">
        <div class="col-md-2 col-sm-2"></div>
        <div class="col-md-1 col-sm-1 text-right">
        {% if user.uuid == author.uuid %}
            <div class="profile-icon">
                <a data-toggle="modal" href="{% url 'edit_profile' user.id %}" data-target="#myModal" title="edit profile" data-tooltip><span class="icon-kub-edit"></span></a>
            </div>
            <div class="profile-icon">
                <a data-toggle="modal" href="{% url 'friends_view' user.uuid %}" data-target="#myModal" title="edit profile" data-tooltip><span class="icon-kub-avatar-02"></span></a>
            </div>
            <div class="profile-icon "><a href="#"><span class="badge profile-badge">{{user.getFriendRequestCount}}</span></a></div>
        {% else %}
                {% csrf_token %}
                <form id="friendrequestform" action=".">
                 <input type="hidden" id="author-uuid" value={{ user.uuid }}/>
                 <input type="hidden"  id="author-host" value={{ user.node.host }}/>
                 <input type="hidden" id="author-dn" value={{ user.username }}/>
                 <input type="hidden" id="friend-uuid" value={{ author.uuid }}/>
                 <input type="hidden" id="friend-host" value={{ author.node.host }}/>
                 <input type="hidden" id="friend-dn" value={{ author.username }}/>
                 <input type="hidden" id="friend-url" value={{ author.node.host }}"/author/"{{author.uuid}}/>
                 <div id="friend-button" hidden class="profile-icon"><a href="#"><span class="icon-favourite-3"  onClick="follow()"></span></a></div>
                <div id="unfriend-button" hidden class="profile-icon"><a href="#"><span class="icon-broken-heart"  onClick="unfollow()"></span></a></div>
                </form>
        {% endif %}

        </div>
        <div class="col-md-1 text-right">
            <img class="img-responsive" src="{{ MEDIA_URL }}{{ author.avatar }}"></img>
        </div>
        <div class="col-md-8">
            <div class="row text-left"><h4><b>{{ author.username }}</b></h4></div>
            <div class="row text-left"><h4><b>About Me:</b></h4></div>
            <div class="row text-left">{{ author.about }}</div>
        </div>
    </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
{% block scripts %}
<script type="text/javascript">
{% if isFollowing = 0 %}
$("#friend-button").show()
{% else %}
$("#unfriend-button").show()
{% endif %}
</script>
<script type="text/javascript" src="{% static "js/friendRequest.js" %}" ></script>
{% endblock scripts %}

{% endblock %}

