{% extends "base_header.html" %}
{% load staticfiles %}


{% block page %}

<div class="container">

    <!-- New Comment Form -->
    <div id="comment_form_html" class="row comment-form" hidden>
        <form id="comment-form" action=".">
            {% include "comment/comment_form.html" %}
        </form>
    </div> <!-- /row -->

    <div id="stream">

    <div class="posts">
    {% for post in posts %}
    <div id={{post.guid}}>
        {% include "post/post.html" %}
        {% for comment in post.getComments %}
            <div id={{comment.guid}}>
                {% include "comment/comment.html" %}
            </div>
        {% endfor %}
            {% include "post/post_footer.html" %}
    </div>
    {% endfor %}
    </div> <!-- /stream -->
</div> <!-- /container -->
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static "js/post.js" %}" ></script>
<script type="text/javascript" src="{% static "js/comment.js" %}" ></script>
{% endblock scripts %}