{% extends "base_header.html" %}
{% load staticfiles %}

{% block page %}

{% if user.author.uuid == author.uuid %}
<!-- Author Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% include 'edit_profile.html' %}
        </div> <!-- /.modal-content -->
    </div> <!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}

<div class = "container">

    <div class="profile-banner">
            <!-- User Buttons -->
            {% if user.author.uuid == author.uuid %}
                <div class="profile-icon profile-edit-icon text-right">
                    <a data-toggle="modal" data-target="#myModal" title="edit profile" data-tooltip><span class="icon-kub-edit"></span></a>
                </div>
            {% else %}
                    <form id="friendrequestform" action=".">
                        {% csrf_token %}
                     <input type="hidden" id="author-uuid" value={{ user.author.uuid }}/>
                     <input type="hidden"  id="author-host" value={{ user.author.node.host }}/>
                     <input type="hidden" id="author-dn" value={{ user.author.username }}/>
                     <input type="hidden" id="friend-uuid" value={{ author.uuid }}/>
                     <input type="hidden" id="friend-host" value={{ author.node.host }}/>
                     <input type="hidden" id="friend-dn" value={{ author.username }}/>
                     <input type="hidden" id="friend-url" value={{ author.node.host }}"/author/"{{author.uuid}}/>
                     <div class="profile-icon text-right">
                    {% if isFriends = 0 %}
                       <div id="friend-button"><a href="#"><span id="friend-icon" class="icon-favourite-3" onClick="friend()"></span></a></div>
                    {% else %}
                        <div id="friend-button"><a href="#"><span id="friend-icon" class="icon-broken-heart"  onClick="unfriend()"></span></a></div>
                    {% endif %}
                        </div>
                    </form>

                    <form id="followform" action=".">
                        {% csrf_token %}
                     <input type="hidden" id="author-uuid" value={{ user.author.uuid }}/>
                     <input type="hidden"  id="author-host" value={{ user.author.node.host }}/>
                     <input type="hidden" id="author-dn" value={{ user.author.username }}/>
                     <input type="hidden" id="friend-uuid" value={{ author.uuid }}/>
                     <input type="hidden" id="friend-host" value={{ author.node.host }}/>
                     <input type="hidden" id="friend-dn" value={{ author.username }}/>
                     <input type="hidden" id="friend-url" value={{ author.node.host }}"/author/"{{author.uuid}}/>
                     <div class="profile-icon text-right">
                    {% if isFollowing = 0 %}
                       <div id="follow-button"><a href="#"><span id="follow-icon" class="icon-screenshot" onClick="follow()"></span></a></div>
                    {% else %}
                        <div id="follow-button"><a href="#"><span id="follow-icon" class="icon-tl-undo"  onClick="unfollow()"></span></a></div>
                    {% endif %}
                     </div>
                    </form>

            {% endif %}




            <!-- End User Buttons -->

                <!-- User Text and Avatar -->
            <div class="profile">
                    <div class="pull-left profile-img">
                        <img class="avatar" src="{{ MEDIA_URL }}{{ author.avatar }}" height="200"></img>
                    </div>
                    <div class="profile-text">
                        <div class="profile-name">{{ author.username }}</b></div>
                        <div class="row">
                            <br>
                            <div class="profile-about-title pull-left">About Me: </div>
                            <div class="profile-about">
                                {% if author.about %}
                                    {{ author.about }}
                            {% else %}
                                This user has not entered any information about themselves yet! How mysterious!
                            {% endif %}
                            </div>
                            <br>
                            <div class="profile-about-title pull-left">Github ID: </div>
                            {% if author.github_id %}
                                    {{ author.github_id }}
                            {% else %}
                                Not Available
                            {% endif %}
                        </div>
                    </div>
            </div>
                <!-- End User Text and Avatar-->
                <div class="clearfix"></div>
    </div> <!-- profile banner -->

</div>
<div class = "container stream">

    <div class="profile-stream">
        {% include 'posts_and_comments.html' %}
    </div> <!-- /container -->


</div> <!-- container -->
{% endblock %}

{% block scripts %}
<script>


    var authorHost = '{{ author.node|escapejs }}';
    var isFollowing = {{ isFollowing }};
    var isForeign = {% if author.isForeign %}1{% else %}0{% endif %};
    var form_options = {
        url : '{% url 'edit_profile' user.author.uuid %}',
        type : 'post',
        dataType: "json",
        success : profileSuccess,
        error : profileError
    }

    function profileSuccess(response, status, xhr, form) {
        window.location.replace("{% url "profile" authorUUID=author.uuid %}");
    }

    function profileError(xhr, errmsg, err) {
        var response;
        console.log(xhr.status + ": " + xhr.responseText);
        response = JSON.parse(xhr.responseText);
        $('#profile_update_form').html(response["form"]);
    }

    //setUpAjaxForm($('#profile_update_form'), formOptions);
    $(document).ready(function (){
        $('#profile_update_form').ajaxForm(form_options);
    });
</script>


<script type="text/javascript" src="{% static "js/friendRequest.js" %}" ></script>
<script>
    function showCommentForm(event) {
    $("#comment-errors").text("");
    var data = $(this).attr("data-postGUID");
    console.log(data);

    $(".add_comment_button").show();
    $(this).hide();
    $("#comment_form_html").hide();
    $("#"+ data ).after($("#comment_form_html"));
    $("#comment_form_html").show();
    $("#comment-form").data("postGUID", data);
    console.log($("#comment-form").data("postGUID"));
}; </script>
<script type="text/javascript" src="{% static "js/post.js" %}" ></script>
<script type="text/javascript" src="{% static "js/comment.js" %}" ></script>
{% endblock scripts %}



