{% extends "base_login.html" %}
{% load staticfiles %}

{% block header %}Register for Hindleb <i class="title-img icon-glasses"></i> k{% endblock %}

{% block form %}

    <form method="post" action="{% url "register" %}">
        
        {% csrf_token %}
        <fieldset>
            {{ form.as_bootstrap_form }}
        </fieldset>
        
        
        <!-- Submit Button -->
        <div class="form-buttons col-lg-12">
            <a href="{% url "login" %}" class="btn btn-ex-lg btn-default">
            <i class="icon-tl-undo"></i> back
          </a>
          <button type="submit" class="btn btn-ex-lg btn-success" value="submit">
            <i class="icon-rocket2"></i> register
          </button>
       </div>
        
        <div class="clearfix"></div>
        <!-- /Submit Button -->
    </form>
    
{% endblock %}
