{% extends "profile_header.html" %}
{% load staticfiles %}

{% block buttons %} 
<div class="row-1"><span class="icon-kub-cog"></span></div>
<div class="row-2"><span class="icon-kub-avatar-02"></span></div> 
<div class="row-3"><a href="#"><span class="badge">{{notification_count}}</span></a></div>
{% endblock %}

{% block profile %}

<div class="Test" style="text-align: center">HERE ARE SOME POSTS</div>
	{% for post in posts %}
		<div class="row">
			<div class="well">
				<div class="row">
					<div class="col-md-2 col-sm-2"><img src="{% static "{{ post.author.avatar" %}"  height="75"></img></div>
					<div class="col-md-10 col-sm-10">
						<div class="row"><h4><b>{{ post.author.first_name }} {{ post.author.last_name }}</b></h4></div>
						<div class="row">{{post.pub_date }}</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">{{ post.text }}</div>
				</div>
				{% for comment in post.getComments %}
				<div class="row">
					<div class="well">
						<div class="row"><h5><b>{{ comment.author.first_name }} {{ comment.author.last_name }} - {{ comment.pub_date }}</b></h5></div>
						<div class="row">{{ comment.text}}</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
