{% extends "base_stream.html" %}
{% load staticfiles %}

{% block stream %}
	<!-- TEST CODE BEGIN -->
	<div class="row">
		<div class="well">
			<div class="row">
				<div class="col-md-2 col-sm-2"><img src="{% static "imgs/placeholder.jpg" %}"  height="100"></img></div>
				<div class="col-md-10 col-sm-10">
					<div class="row">--Magikarpoff</div>
					<div class="row">March 7, 2015</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">Catz re the source of all that is evil</div>
			</div>
			<div class="row">
				<div class="well">
					<h4>Someone Person</h4>
				</div>
			</div>
			<div class="row">
				<div class="well">
					<div class="row">
						Response 2
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<div class="row">
				<div class="col-md-2 col-sm-2"><img src="{% static "imgs/placeholder.jpg" %}"  height="100"></img></div>
				<div class="col-md-10 col-sm-10">
					<div class="row">--Rhackman</div>
					<div class="row">March 7, 2015</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">We didn't leave it that late</div>
			</div>
		</div>
	</div>
	<!-- TEST CODE END -->


	{% for post in posts %}
	<div class="row">
		<div class="well">
			<div class="row">
				<div class="col-md-2 col-sm-2"><img src="{% static "{{ post.author.avatar" %}"  height="100"></img></div>
				<div class="col-md-10 col-sm-10">
					<div class="row">{{ post.author.username }}</div>
					<div class="row">{{post.pub_date }}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12">{{ post.text }}</div>
			</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}