{% extends "base_header.html" %}
{% load staticfiles %}

{% block page %}

<div class="container">
	<div class="row">
		<div class="well">
			<form action="posts" method="post" autocomplete="off" > {% csrf_token %}
				{{ post_form.as_bootstrap_form }}
				<input type="submit" name="new_post" value="Create Post" />
			</form>
		</div>
	</div>
	{% for post in posts %}
		<div class="row">
			<div class="well">
				<div class="row">
					<div class="col-md-2 col-sm-2"><img src="{{ post.author.avatar }}"  height="75"></img></div>
					<div class="col-md-10 col-sm-10">
						<div class="row"><h4><b>{{ post.author.username }}</b></h4></div>
						<div class="row"><h5>{{post.pub_date }}</h5></div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12">{{ post.text }}</div>
				</div>
				{% for comment in post.getComments %}
				<div class="row">
					<div class="well">
						<div class="row"><h5><b>{{ comment.author.username }} - {{ comment.pub_date }}</b></h5></div>
						<div class="row">{{ comment.text}}</div>
					</div>
				</div>
				{% endfor %}
				<form action="posts/{{ post.uuid }}" method="post" autocomplete="off">
					{% csrf_token %}
					{{ comment_form.as_bootstrap_form }}
					<input type="submit" name="new_comment" value="Add comment" />
				</form>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}