{% load static %}

<div class="row">
    <div class="well post-block">
        <div class="row">
            <div class="pull-left"><img class="post-img" src="{{ MEDIA_URL }}{{ post.author.avatar }}"   height="100"></img></div>
            <div class="post-row">
                <div class="post-author pull-left">{{ post.author.username }}</div>
                <div class="post-date">{{ post.pubDate }}</div>
                <br>
                <div class="post-content">{{ post.content }}</div>
            </div>
        </div> <!-- /row -->
    </div>   <!-- /well -->
    <!-- add comment button -->
</div> <!-- /row -->