{% load widget_tweaks %}

<div class="well">
    <div class="row">
        {% csrf_token %}
        <fieldset>
            <div class="col-lg-12">
                {% render_field post_form.text rows="3" placeholder="Enter a new post..." class+="form-control input-lg" %}
                {% if post_form.text.errors %}
                    <div class="error-container error">{{ post_form.text.errors.0|escape }}</div>
                {% endif %}
                {% if alert %}
                    <div class="error-container error">{{ alert | safe }}{{ post_form.text.errors.0|escape }}</div>
                {% endif %}
                <input id="guid" type="hidden" value="{{ post_form.guid }}" />
                {% render_field post_form.privacy default="0" %}
            </div>
        </fieldset>

        <!-- Submit Button -->
        <div class="form-buttons col-lg-12">
          <button type="submit" class="btn btn-ex-lg btn-success" value="submit">
            <i class="icon-rocket2"></i> Post
          </button>
       </div> <!-- buttons -->
    <div class="clearfix"></div>
    </div> <!-- /row -->
</div> <!-- /well -->
