{% load static %}

<div class="row">
    <div class="well post-block">
        <div class="row">
            <div class="pull-left"><img class="post-img picture-shadow" src="{{ MEDIA_URL }}{{ post.author.avatar }}"   height="100"></img></div>
            <div class="post-row">
                <div class="post-title pull-left">{{ post.title }}</div>
                <div class="post-date">{{ post.pubDate }}</div>
                
                {% for category in post.categories.all %}
                    <span class="label label-info post-tag">{{ category }}</span>
                {% endfor %}
                 <div class="post-author"><a href="{% url "profile" post.author.uuid %}">by {{ post.author.username }}</a></div>

                <div class="post-content">{{ post.getDisplayContent|safe }}</div>
                




                <br>
            </div>
        </div> <!-- /row -->
    </div>   <!-- /well -->
    <!-- add comment button -->
</div> <!-- /row -->