{% load static %}

<div class="row" id="post-{{ post.guid }}">
    <div class="well post-block">
        <div class="row">

            <div class="post-row">

                <div class="pull-left"><img class="post-img" src="{{ MEDIA_URL }}{{ post.author.avatar }}"   height="80"></img></div>
                {% if post.author.uuid == user_id %}
                <div class="pull-right">
                    <button onclick="deletePost('{{ post.guid }}');" class="btn btn-sm delete-btn"><i class="icon-kub-remove"></i></button>
                </div>
                {% endif %}
                <div class="post-title">{{ post.title }}</div>
                <div class="post-author"><a href="{% url "profile" post.author.uuid %}">by {{ post.author.username }}</a></div>

                <div class="post-content">{{ post.getDisplayContent|safe }}</div>
                
                <div class="post-meta">


                {% for category in post.categories.all %}
                    <span class="label label-info post-tag">{{ category }}</span>
                {% endfor %}
                <span class="post-date">{{ post.pubDate }}</span>

                </div>
            </div>
        </div> <!-- /row -->
    </div>   <!-- /well -->
    <!-- add comment button -->
</div> <!-- /row -->
