{% load widget_tweaks %}

    {% csrf_token %}
    <fieldset>
        <div class="form-buttons-inline pull-left">
            <button type="submit" class="btn btn-ex-lg btn-success img-btn" value="submit">
                <i class="icon-kub-approve"></i>
            </button>
        </div>
        <div class="fill-remaining-right">
                {% render_field comment_form.comment rows="1" placeholder="Add a comment..." class+="form-control input-lg" autocomplete="off" %}
                {% if comment_form.comment.errors %}
                    <div class="error-container error">{{ comment_form.comment.errors.0|escape }}</div>
                {% endif %}
                {% if alert %}
                    <div class="error-container error">{{ alert | safe }}{{ comment_form.comment.errors.0|escape }}</div>
                {% endif %}
                <input id="comment-guid" type="hidden" value="{{ comment_form.guid }}" />
        </div>
        <div class="clearfix"></div>
    </fieldset>

