html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 70px;
    margin-bottom: 60px;
}

.vertical-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.well {
    background-color: #fefefe;
    margin-bottom: 8px;
    padding-top: 40px;
    padding-bottom: 30px;
    border: 1px solid #FB9D7D;
}

.bold {
  font-weight: bold;
}



/* Login ------------------------------------------ */

.trailing {
    text-align: right;
}


header {
    font-size: 40px;
    color: #dd4814;
}

/* Buttons ------------------------------------------ */

a .btn {
  display: inline-block;
}

.btn-ex-lg {
    padding: 8px 20px;
    font-size: 24px;
    line-height: 1.333;
    border-radius: 6px;
}


/* Forms ------------------------------------------ */

.form-buttons {
    text-align: right;
    margin-top: 15px;
}

.control-label {
    font-size: larger;
    font-weight: normal;
}

.error-container {
    padding-bottom: 15px;
}

.error {
    color: #b94a48;
}

.form-control {
    border: 1px solid #FB9D7D;
}

.form-control:focus {
    border: 1px solid #EB7047;
    box-shadow: inset 0 1px 1px rgba(236,150,124,.075), 0 0 8px rgba(236, 150, 124, 0.45);

}

.help-text {
    font-size: smaller;
    color: #aea79f;
}



/* Alerts ------------------------------------------ */

.alert-success {
  color: #38b44a;
  border-color: #38b44a;
  background-color: #fff;
}

.alert-success .close {
    color: #007110;
}

.profile-icon {
    font-size: 20pt;
}

.profile-badge {
    font-size: 20pt;
}

/* Navbar ------------------------------------------ */

.navbar {
  min-height: 30px;
}

.navbar-default {
    border-color: #dd4814;
}

.navbar-header .title-img {
  font-weight: bold;
}

.navbar .badge {
  left: -15px;
}

.navbar .btn {
  height: 32px;
  margin-top: 5px;
}

.navbar .navbar-img {
  font-size: 20px;;
}

.navbar .input-sm {
  margin-top: 12px;
  border-color: #97310e;
}

.navbar-header {
  float: left !important;
  margin-right: 15px !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.navbar-fixed-bottom {
  height: 35px;
}

.navbar-fixed-bottom .navbar-nav .bot-text {
  padding-bottom: 10px;
  position: absolute;
  bottom: 2px;
  right:  30px;
  
}

.navbar-fixed-bottom .navbar-nav a, .navbar-fixed-bottom .navbar-nav a:hover {
  height: 40px;
  width: 120px;
}

.navbar #search-bar {
  width: 200px;
}

.navbar-fixed-top .navbar-right.active {
  padding-left: 15px;
  background-color: #97310e;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

/* Logout ------------------------------------------ */

.logout-tab, .logout-tab:hover {
    background-color: #dd4814;
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 0;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 10px 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logout-tab:hover {
    background-color: #97310e;
}

.logout-text {
    font-size: 20px;
    margin-right: 5px;
}