html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 70px;
    margin-bottom: 60px;
}

.vertical-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh;
  display: flex;
  align-items: center;
}

a {
    color: #D55846;
}

.well {
    background-color: #fefefe;
    margin-bottom: 8px;
    padding-top: 40px;
    padding-bottom: 30px;
    border: 1px solid #D55846;
}

.auth-forms {
    border: 2px solid #D55846;
    border-left: 15px solid #D55846;
}



.stream {
    max-width: 800px;
}
.post-block, .post-form {
    background-color: #444;
    border-radius: 20px;
    color: #fff;
    border-color: #444;
}

.post-block {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 0;
}

.auth-forms .control-label {
    font-size: 22px;
    color: #333;
}

.post-img {
    border-radius: 30%;
    -moz-box-shadow:0px 0px 7px #000000;
    -webkit-box-shadow:0px 0px 7px #000000;
    box-shadow:0px 0px 7px #000000;
    margin: 5px 40px;
}


.bold {
  font-weight: bold;
}

.circle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #444;
}

.circle-higher {
    position: relative;
    left: -30px;
    top: 60px;
}

.circle-lower {
    position: relative;
    left: -30px;
    top: -50px;
}

/* Login ------------------------------------------ */

.trailing {
    text-align: right;
}


header {
    font-size: 45px;
    color: #D55846;
}

/* Buttons ------------------------------------------ */

a .btn {
  display: inline-block;
}

.btn-ex-lg {
    padding: 10px 20px;
    font-size: 24px;
    line-height: 1.333;
    border-radius: 6px;
}

.btn-xs {
    margin-top: 5px;
}

.btn-success {
    background-color: #34AACD;
    border-color: #34AACD;
}
.btn-success:hover, .btn-success:focus {
    background-color: #1A85A5;
    border-color: #1A85A5;
}





/* Forms ------------------------------------------ */

.form-buttons {
    text-align: right;
    margin-top: 15px;
}

.form-buttons {
    text-align: right;
    margin-top: 15px;
}

.form-buttons-inline {
    margin-right: 2px;
}

.control-label {
    font-size: larger;
    font-weight: normal;
}

.error-container {
    padding-bottom: 15px;
}

.error {
    color: #b94a48;
}

.form-control {
    border: 1px solid #34AACD;
}

.form-control:focus {
    border: 1px solid #34AACD;
    box-shadow: inset 0 1px 1px rgba(236,150,124,.075), 0 0 8px rgba(124, 172, 236, 0.55);;

}

.help-text {
    font-size: smaller;
    color: #aea79f;
}

.fill-remaining-right {
    overflow: hidden;
}



/* Alerts ------------------------------------------ */

.alert-success {
  color: #fff;
  border-color: #1B1B1B;
  background-color: #1B1B1B;
  font-size: 15px;
  font-weight: bold;
}

.alert-success .close {
    color: #fff;
}

.profile-icon {
    font-size: 20pt;
}

.profile-badge {
    font-size: 20pt;
}

.profile-stream {
    margin-top: 80px;
}

/* Navbar ------------------------------------------ */

.navbar {
  min-height: 30px;
}

.navbar-default {
    border-color: #D22A11;
    background-color: #D22A11;
}

.navbar-header .title-img {
  font-weight: bold;
}

.navbar .badge {
  left: -15px;
}

.navbar .btn {
  height: 32px;
  margin-top: 5px;
}

.navbar .navbar-img {
  font-size: 20px;;
}

.navbar .input-sm {
  margin-top: 12px;
}

.navbar-header {
  float: left !important;
  margin-right: 15px !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.navbar-fixed-bottom {
  height: 35px;
}

.navbar-fixed-bottom .navbar-nav .bot-text {
  padding-bottom: 10px;
  position: absolute;
  bottom: 2px;
  right:  30px;
  
}

.navbar-fixed-bottom .navbar-nav a, .navbar-fixed-bottom .navbar-nav a:hover {
  height: 40px;
  width: 120px;
}

.navbar #search-bar {
  width: 200px;
  border-color: #aaa;
}

.navbar-fixed-top .navbar-right.active {
  padding-left: 15px;
  background-color: #97310e;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

/* colors */

/* Logout ------------------------------------------ */

.logout-tab, .logout-tab:hover {
    background-color: #D22A11;
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 0;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 10px 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logout-tab:hover {
    background-color: #97310e;
}

.logout-text {
    font-size: 20px;
    margin-right: 5px;
}

/* Posts  ------------------------------------------ */


#post-form {
    margin-bottom: 80px;
}


.post-vis-inp {
    width: 160px;
    margin-top: 30px;
    height: 34px !important;
}

.post-type-inp {
    width: 90px;
    margin-top: 30px;
    height: 34px !important;
    margin-right: 15px;
}


.post-field-img {
  height: 34px;
  font-size: 18px;
  background-color: #34AACD;
  float: left;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  left: 3px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 10;
}

.post-row  {
    text-align: left;
    padding: 10px 50px;
 }


.post-author {
    font-size: 18px;
    margin-bottom: 0;
}

.post-title-inp {
  height: 34px !important;
}
.post-date {
    text-align: right;
    font-size: 14px;
    color: #FFF;
}

.post-tag {
  background-color: #989EA0;
  border-color: #989EA0;
  float: right;
  margin-left: 5px;
  padding-top: 4px;
}

.post-content-inp {
    margin-top: 30px;
}

.post-tag-select {
  background-color: #34AACD !important;
  border-color: #34AACD !important;
  color: #fff !important;
}

.post-title {
    font-size: 22px;
    margin-top: 5px;
}

.post-content {
    margin-top: 5px;
    font-size: 14px;
}

.post-form-button {
  margin-top: 10px;
}

#cat-suggest {
  width: 300px;
  margin-top: 30px;
  float: left;
  margin-right: 8px;
}


 /* Comments  ------------------------------------------ */

 .add_comment_button {
    position: relative;
    top: -10px;
    left: -10px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;
}

.comment-block {
    border-radius: 20px;
    border: 2px solid #bbb;
    padding: 15px;
    margin-bottom: 10px;
}

.comment-author {
    font-size: 16px;
    font-weight: bold;
}

.comment-date {
    padding-bottom: 5px;
    padding-left: 20px;
    color: #666;
}

.comment-block a:hover, .comment-block a:focus {
    text-decoration: none;
}

.post-block a:hover, .post-block a:focus {
    text-decoration: none;
}


#comment_form_html {
    margin-bottom: 50px;
}

/* Posts  ------------------------------------------ */

.profile-banner {
    width: 100%;
    background-color: #444;
    background-border: #444;
    color: #fff;
    padding: 15px 50px 50px;
    border-radius: 40px;
    font-size: 20px;
}

.profile {
    padding: 30px 30px 30px 0;
}

.profile-edit-icon a {
    color: #53CBEF;
}

.profile-edit-icon a:hover, .profile-edit-icon a:focus {
    color: #34AACD !important;
}

.profile-icon {
    position: relative;
    color: #53CBEF;
    top: 0;
    right: -20px;
}

.profile-about-title {
    font-weight: bold;
    margin-right: 20px;
}

.profile-img {
    padding-right: 50px;
}

.profile-name {
    font-size: 50px;
    font-weight: 600;
    color: #53CBEF;
}

.profile-about {
    font-size: smaller;
}

.profile-text {
    margin-top: -10px;
}

.avatar {
    border-radius: 30%;
}