html {
  position: relative;
  min-height: 100%;
}

body {
    margin-top: 70px;
    margin-bottom: 60px;
}

.vertical-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh;
  display: flex;
  align-items: center;
}

a {
    color: #D55846;
}

.col1 {
  margin-right: 40px;
}

.well {
    background-color: #fefefe;
    margin-bottom: 8px;
    padding-top: 40px;
    padding-bottom: 30px;
    border: 1px solid #D55846;
}

.auth-forms {
    border: 2px solid #D55846;
    border-left: 15px solid #D55846;
}



.stream {
    max-width: 800px;
}
.post-block, .post-form, .friend-container {
    background-color: #444;
    border-radius: 20px;
    color: #fff;
    border-color: #444;
}

.large-shadow {
      -moz-box-shadow: rgb(191, 191, 191) 1px 1px,
    rgb(193, 193, 193) 2px 2px,
    rgb(195, 195, 195) 3px 3px,
    rgb(197, 197, 197) 4px 4px,
    rgb(199, 199, 199) 5px 5px,
    rgb(201, 201, 201) 6px 6px,
    rgb(203, 203, 203) 7px 7px,
    rgb(205, 205, 205) 8px 8px,
    rgb(208, 208, 208) 9px 9px,
    rgb(210, 210, 210) 10px 10px,
    rgb(212, 212, 212) 11px 11px,
    rgb(214, 214, 214) 12px 12px,
    rgb(216, 216, 216) 13px 13px,
    rgb(218, 218, 218) 14px 14px,
    rgb(220, 220, 220) 15px 15px,
    rgb(223, 223, 223) 16px 16px,
    rgb(225, 225, 225) 17px 17px,
    rgb(227, 227, 227) 18px 18px,
    rgb(229, 229, 229) 19px 19px,
    rgb(231, 231, 231) 20px 20px,
    rgb(233, 233, 233) 21px 21px,
    rgb(235, 235, 235) 22px 22px,
    rgb(237, 237, 237) 23px 23px,
    rgb(240, 240, 240) 24px 24px,
    rgb(242, 242, 242) 25px 25px,
    rgb(244, 244, 244) 26px 26px,
    rgb(246, 246, 246) 27px 27px,
    rgb(248, 248, 248) 28px 28px,
    rgb(250, 250, 250) 29px 29px,
    rgb(252, 252, 252) 30px 30px,
    rgb(255, 255, 255) 31px 31px;
    
    box-shadow: rgb(191, 191, 191) 1px 1px,
    rgb(193, 193, 193) 0 2px,
    rgb(195, 195, 195) 0 3px,
    rgb(197, 197, 197) 0 4px,
    rgb(199, 199, 199) 0 5px,
    rgb(201, 201, 201) 0 6px,
    rgb(203, 203, 203) 0 7px,
    rgb(205, 205, 205) 0 8px,
    rgb(208, 208, 208) 0 9px,
    rgb(210, 210, 210) 0 10px,
    rgb(212, 212, 212) 0 11px,
    rgb(214, 214, 214) 0 12px,
    rgb(216, 216, 216) 0 13px,
    rgb(218, 218, 218) 0 14px,
    rgb(220, 220, 220) 0 15px,
    rgb(223, 223, 223) 0 16px,
    rgb(225, 225, 225) 0 17px,
    rgb(227, 227, 227) 2px 18px,
    rgb(229, 229, 229) 3px 19px,
    rgb(231, 231, 231) 4px 20px,
    rgb(233, 233, 233) 5px 21px,
    rgb(235, 235, 235) 6px 22px,
    rgb(237, 237, 237) 7px 23px,
    rgb(240, 240, 240) 8px 24px,
    rgb(242, 242, 242) 9px 25px,
    rgb(244, 244, 244) 10px 26px,
    rgb(246, 246, 246) 11px 27px,
    rgb(248, 248, 248) 12px 28px,
    rgb(250, 250, 250) 13px 29px,
    rgb(252, 252, 252) 14px 30px,
    rgb(255, 255, 255) 15px 31px;
}

.small-shadow {
      -moz-box-shadow:
    rgb(199, 199, 199) 1px 1px,
    rgb(205, 205, 205) 2px 2px,
    rgb(212, 212, 212) 3px 3px,
    rgb(220, 220, 220) 4px 4px,
    rgb(225, 225, 225)  5px 5px,
    rgb(231, 231, 231) 6px 6px,
    rgb(235, 235, 235)  7px 7px,
    rgb(248, 248, 248) 8px 8px,
    rgb(250, 250, 250) 9px 9px,
    rgb(252, 252, 252) 10px 10px,
    rgb(255, 255, 255) 11px 11px;

    box-shadow: 
    rgb(199, 199, 199) 1px 1px,
    rgb(205, 205, 205) 2px 2px,
    rgb(212, 212, 212) 3px 3px,
    rgb(220, 220, 220) 4px 4px,
    rgb(225, 225, 225)  5px 5px,
    rgb(231, 231, 231) 6px 6px,
    rgb(235, 235, 235)  7px 7px,
    rgb(248, 248, 248) 8px 8px,
    rgb(250, 250, 250) 9px 9px,
    rgb(252, 252, 252) 10px 10px,
    rgb(255, 255, 255) 11px 11px;

}

.post-block {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 15px;
}

.auth-forms .control-label {
    font-size: 22px;
    color: #333;
}

.post-img {
    border-radius: 30%;
    -moz-box-shadow:0px 0px 7px #222;
    -webkit-box-shadow:0px 0px 7px #222;
    box-shadow:0px 0px 7px #222;
    margin: 5px 40px;
}


.bold {
  font-weight: bold;
}

.circle {
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background-color: #444;
}

.circle-higher {
    position: relative;
    left: -30px;
    top: 60px;
}

.circle-lower {
    position: relative;
    left: -30px;
    top: -50px;
}

/* Login ------------------------------------------ */

.trailing {
    text-align: right;
}


header {
    font-size: 45px;
    color: #D55846;
}

/* Buttons ------------------------------------------ */

a .btn {
  display: inline-block;
}

.btn-ex-lg {
    padding: 10px 20px;
    font-size: 24px;
    line-height: 1.333;
    border-radius: 6px;
}

.btn-xs {
    margin-top: 5px;
}

.btn-success {
    background-color: #34AACD;
    border-color: #34AACD;
}
.btn-success:hover, .btn-success:focus {
    background-color: #1A85A5;
    border-color: #1A85A5;
}





/* Forms ------------------------------------------ */

.form-buttons {
    text-align: right;
    margin-top: 15px;
}

.form-buttons {
    text-align: right;
    margin-top: 15px;
}

.form-buttons-inline {
    margin-right: 2px;
}

.control-label {
    font-size: larger;
    font-weight: normal;
}

.error-container {
    padding-bottom: 15px;
}

.error {
    color: #b94a48;
}

.form-control {
    border: 1px solid #34AACD;
}

.form-control:focus {
    border: 1px solid #34AACD;
    box-shadow: inset 0 1px 1px rgba(236,150,124,.075), 0 0 8px rgba(124, 172, 236, 0.55);;

}

.help-text {
    font-size: smaller;
    color: #aea79f;
}

.fill-remaining-right {
    overflow: hidden;
}



/* Alerts ------------------------------------------ */

.alert-success {
  color: #fff;
  border-color: #1B1B1B;
  background-color: #1B1B1B;
  font-size: 15px;
  font-weight: bold;
}

.alert-success .close {
    color: #fff;
}

.profile-icon {
    font-size: 20pt;
}

.profile-badge {
    font-size: 20pt;
}

.profile-stream {
    margin-top: 80px;
}

/* Navbar ------------------------------------------ */

.navbar {
  min-height: 30px;
}

.navbar-default {
    border-color: #D22A11;
    background-color: #D22A11;
}

.navbar-header .title-img {
  font-weight: bold;
}

.navbar .badge {
  left: -15px;
}

.navbar .btn {
  height: 32px;
  margin-top: 5px;
}

.navbar .navbar-img {
  font-size: 20px;;
}

.navbar .input-sm {
  margin-top: 12px;
}

.navbar-header {
  float: left !important;
  margin-right: 15px !important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

.navbar-fixed-bottom {
  height: 35px;
}

.navbar-fixed-bottom .navbar-nav .bot-text {
  padding-bottom: 10px;
  position: absolute;
  bottom: 2px;
  right:  30px;
  
}

.navbar-fixed-bottom .navbar-nav a, .navbar-fixed-bottom .navbar-nav a:hover {
  height: 40px;
  width: 120px;
}

.navbar #search-bar {
  width: 200px;
  border-color: #aaa;
}

.navbar-fixed-top .navbar-right.active {
  padding-left: 15px;
  background-color: #97310e;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

/* colors */

/* Logout ------------------------------------------ */

.logout-tab, .logout-tab:hover {
    background-color: #D22A11;
    color: #fff;
    position: fixed;
    bottom: 10px;
    right: 0;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 10px 10px 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logout-tab:hover {
    background-color: #97310e;
}

.logout-text {
    font-size: 20px;
    margin-right: 5px;
}

/* Posts  ------------------------------------------ */


#post-form {
    margin-bottom: 80px;
}

.input-sm {
  font-size: 14px;
}

.post-title-inp {
  font-size: 18px;
}

.post-vis-inp {
    width: 160px;
    margin-top: 30px;
    height: 34px !important;
}

.post-type-inp {
    width: 90px;
    margin-top: 30px;
    height: 34px !important;
    margin-right: 15px;
}


.post-field-img {
  height: 34px;
  font-size: 18px;
  background-color: #34AACD;
  float: left;
  margin-top: 30px;
  padding: 10px;
  position: relative;
  left: 4px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 10;
}

.post-row  {
    text-align: left;
    padding: 10px 60px 10px 50px;
 }


.post-author {
    font-size: 18px;
    margin-bottom: 0;
}

.post-title-inp {
  height: 34px !important;
}
.post-date {
    text-align: right;
    font-size: 14px;
    color: #FFF;
}

.post-tag {
  background-color: #34AACD;
  border-color: #34AACD;
  font-size: 14px;
  float: right;
  margin-left: 5px;
  padding-top: 4px;
  margin-top: 5px;
}

.post-content-inp {
    margin-top: 30px;
}

.post-tag-select {
  background-color: #34AACD !important;
  color: #fff !important;
  border-color: #34AACD !important;
  font-size: 14px !important;
  font-weight: bold;
}

.post-title {
    font-size: 22px;
    margin-top: 7px;
}

.post-content {
    margin-top: 5px;
    font-size: 14px;
}

.post-form-button {
  margin-top: 10px;
}

#cat-suggest {
  width: 300px;
  margin-top: 30px;
  float: left;
  margin-right: 8px;
}


 /* Comments  ------------------------------------------ */

 .add_comment_button {
    position: relative;
    top: -10px;
    left: -10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}

.comment-block {
    border-radius: 20px;
    border: 2px solid #bbb;
    padding: 15px;
    margin-bottom: 10px;
}

.comment-author {
    font-size: 16px;
    font-weight: bold;
}

.comment-date {
    padding-bottom: 5px;
    padding-left: 20px;
    color: #666;
}

a:hover, a:focus {
    text-decoration: none;
}


#comment_form_html {
    margin-bottom: 20px;
}

/* Posts  ------------------------------------------ */

.profile-banner {
    background-color: #444;
    background-border: #444;
    color: #fff;
    padding: 15px 50px 50px;
    border-radius: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}

.profile {
    padding: 30px 30px 30px 0;
}

.profile-edit-icon a {
    color: #53CBEF;
}

.profile-edit-icon a:hover, .profile-edit-icon a:focus {
    color: #34AACD !important;
}

.profile-icon {
    position: relative;
    color: #53CBEF;
    top: 0;
    right: -20px;
}

.profile-about-title {
    font-weight: bold;
    margin-right: 20px;
}

.profile-img {
    padding-right: 50px;
}

.profile-name {
    font-size: 50px;
    font-weight: 600;
    color: #53CBEF;
}

.profile-about {
    font-size: smaller;
    overflow: hidden;
}

.profile-field ~ .profile-field {
  margin-top: 10px;
}

.profile-text {
    margin-top: -10px;
    overflow: hidden;
}

.picture-shadow {
   -moz-box-shadow: rgb(61, 61, 61) 1px 1px,
    rgb(61, 61, 61) 2px 2px,
    rgb(61, 61, 61) 3px 3px,
    rgb(61, 61, 61) 4px 4px,
    rgb(61, 61, 61) 5px 5px,
    rgb(61, 61, 61) 6px 6px,
    rgb(61, 61, 61) 7px 7px,
    rgb(61, 61, 61) 8px 8px,
    rgb(61, 61, 61) 9px 9px,
    rgb(61, 61, 61) 10px 10px,
    rgb(61, 61, 61) 11px 11px,
    rgb(61, 61, 61) 12px 12px,
    rgb(61, 61, 61) 13px 13px,
    rgb(61, 61, 61) 14px 14px,
    rgb(62, 62, 62) 15px 15px,
    rgb(62, 62, 62) 16px 16px,
    rgb(62, 62, 62) 17px 17px,
    rgb(63, 63, 63) 18px 18px,
    rgb(63, 63, 63) 19px 19px,
    rgb(64, 64, 64) 20px 20px,
    rgb(64, 64, 64) 21px 21px,
    rgb(64, 64, 64) 22px 22px,
    rgb(65, 65, 65) 23px 23px,
    rgb(65, 65, 65) 24px 24px,
    rgb(66, 66, 66) 25px 25px,
    rgb(66, 66, 66) 26px 26px,
    rgb(66, 66, 66) 27px 27px,
    rgb(67, 67, 67) 28px 28px,
    rgb(67, 67, 67) 29px 29px,
    rgb(68, 68, 68) 30px 30px;
      box-shadow:rgb(61, 61, 61) 1px 1px,
    rgb(61, 61, 61) 2px 2px,
    rgb(61, 61, 61) 3px 3px,
    rgb(61, 61, 61) 4px 4px,
    rgb(61, 61, 61) 5px 5px,
    rgb(61, 61, 61) 6px 6px,
    rgb(61, 61, 61) 7px 7px,
    rgb(61, 61, 61) 8px 8px,
    rgb(61, 61, 61) 9px 9px,
    rgb(61, 61, 61) 10px 10px,
    rgb(61, 61, 61) 11px 11px,
    rgb(61, 61, 61) 12px 12px,
    rgb(61, 61, 61) 13px 13px,
    rgb(61, 61, 61) 14px 14px,
    rgb(62, 62, 62) 15px 15px,
    rgb(62, 62, 62) 16px 16px,
    rgb(62, 62, 62) 17px 17px,
    rgb(63, 63, 63) 18px 18px,
    rgb(63, 63, 63) 19px 19px,
    rgb(64, 64, 64) 20px 20px,
    rgb(64, 64, 64) 21px 21px,
    rgb(64, 64, 64) 22px 22px,
    rgb(65, 65, 65) 23px 23px,
    rgb(65, 65, 65) 24px 24px,
    rgb(66, 66, 66) 25px 25px,
    rgb(66, 66, 66) 26px 26px,
    rgb(66, 66, 66) 27px 27px,
    rgb(67, 67, 67) 28px 28px,
    rgb(67, 67, 67) 29px 29px,
    rgb(68, 68, 68) 30px 30px;
}

.text-shadow {
  -moz-text-shadow:
  rgb(245, 245, 245) 1px 1px,
    rgb(245, 245, 245) 2px 2px,
    rgb(245, 245, 245) 3px 3px;
  text-shadow: rgb(245, 245, 245) 1px 1px,
    rgb(245, 245, 245) 2px 2px,
    rgb(245, 245, 245) 3px 3px;
}

.avatar {
    border-radius: 30%;
}

.profile-img > .avatar {
    position: relative;
    top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 766px) {
    .profile-img {
        text-align: center;
        padding-right: 0;
    }

    .profile-img > .avatar {
        margin-bottom: 70px;
    }
}

/* Friends  ------------------------------------------ */


.friend-container {
    margin: 5px;
    padding: 15px;
    min-width: 250px;
}

.friend-text {
    padding-left: 10px;
    overflow: hidden;
    font-weight: bold;
    font-size: 16px;
}

a.white-link {
    color: #fff !important;
}
a.white-link:hover, a.white-link:focus {
    color: #D55846 !important;
}

.friend-img-ico {
    float: right;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: -15px;
    padding: 5px;
}

a.follow-link, a.friend-link {
    color: #53CBEF;
}

a.follow-link:hover, a.follow-link:focus, a.friend-link:hover, a.friend-link:focus {
    color: #34AACD !important;
}


.section-header {
    font-size: 50px;
    font-weight: 600;
    color: #34AACD;
}
