html {
  position: relative;
  min-height: 100%;
}

.well {
    background-color: #fefefe;
    margin-bottom: 8px;
    padding-top: 40px;
    padding-bottom: 30px;
    border: 1px solid #FB9D7D;
}

body {
    margin-top: 70px;
    margin-bottom: 60px;
}

.navbar-default {
    border-color: #dd4814;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #dd4814;
}

.form-buttons {
    text-align: right;
    margin-top: 15px;
}

.trailing {
    text-align: right;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

.form-control {
    border: 1px solid #FB9D7D;
}

.form-control:focus {
    border: 1px solid #EB7047;
    box-shadow: inset 0 1px 1px rgba(236,150,124,.075), 0 0 8px rgba(236, 150, 124, 0.45);

}

.vertical-center {
  min-height: 70%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh;

  display: flex;
  align-items: center;
}

header {
    font-size: 40px;
    color: #dd4814;
}

a .btn {
  display: inline-block;
}

.btn-ex-lg {
    padding: 8px 20px;
    font-size: 24px;
    line-height: 1.333;
    border-radius: 6px;
}

.control-label {
    font-size: larger;
    font-weight: normal;
}

.error-container {
    padding-bottom: 15px;
}

.error {
    color: #b94a48;
}

.col-lg-4 .col-sm-1

.badge {
    background-color: #444;
    padding: 3px 4px;
}

.help-text {
    font-size: smaller;
    color: #aea79f;
}

/* Alerts */

.alert-success {
  color: #38b44a;
  border-color: #38b44a;
}

/* Navbar */
.navbar-header .title-img {
  font-weight: bold;
}

.navbar .badge {
  left: -15px;
}

