<div id="friend-{{ friend.uuid }}" class="well friend-container small-shadow col-lg-2 col-md-3 col-sm-4 col-xs-2">
    <img class="avatar pull-left avatar-thumb" src="{{ MEDIA_URL }}{{ friend.avatar }}" height="80"></img>
    <div class="friend-text pull-left">
        <div class="friend-username"><a class="white-link" href="{% url "profile" friend.uuid %}">{{ friend.username }}</div>
        <div class="friend-server"><a class="white-link" href="{{ friend.node.host }}">{{ friend.node.host_name }}</a></div>

        <input type="hidden" id="friend-uuid-{{ friend.uuid }}" value={{ friend.uuid }}/>
        <input type="hidden" id="friend-host-{{ friend.uuid }}" value={{ friend.node.host }}/>
        <input type="hidden" id="friend-dn-{{ friend.uuid }}" value={{ friend.username }}/>
        <input type="hidden" id="friend-url-{{ friend.uuid }}" value={{ friend.node.host }}"/author/"{{friend.uuid}}/>
        <a class="pull-left" onClick="friend('{{ friend.uuid }}', 1)" href="#"><span id="friend-icon-{{ friend.uuid }}" class="icon-favourite-3 friend-list-img"></span></a>

    </div>
</div>